<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" media="screen">
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<section class="engine">

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">hello ... hello vai</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">টানা ২৭ ঘণ্টা ‘পাসওয়ার্ড’-এর শুটিংয়ে শাকিব - boob lee</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">সিনেমা হচ্ছে যুদ্ধের ময়দান, এখানে ক্লান্তি লাগলে চলবে না: মালেক আফসারি</p>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                    টানা একদিনের বেশি সময় শুটিং করে রীতিমত বিস্ময়ের জন্ম দিলেন ঢাকাই চলচ্চিত্রের তারকা জুটি শাকিব খান ও শবনম বুবলী। মালেক আফসারি পরিচালিত আলোচিত ‘পাসওয়ার্ড’ ছবিতে একটানা ২৭ ঘন্টা শুটিং করেছেন তারা।
                    ‘পাসওয়ার্ড’ এর শুটিং শুরু হয়েছে ১ মার্চ থেকে। প্রথম দিনে ইমন, বুবলী অংশ নিলেও ছবির প্রধান আকর্ষণ শাকিব খান শুটিংয়ে অংশ নেন ৫ মার্চ (মঙ্গলবার)। ওইদিন সকাল ৭ টায় এফডিসির একটি ফ্লোরে শুটিংয়ে অংশ নেন শাকিব খান ও বুবলী। পরদিন অর্থাৎ গতকাল (বুধবার) সকাল ১০ টা পর্যন্ত টানা ২৭ ঘণ্টা শুটিং করেন তারা। সঙ্গে ছিল পুরো ইউনিট।
                    নির্মাতা মালেক আফসারি বৃহস্পতিবার (৭ মার্চ) রাজধানীর শ্যামলীতে শুটিং করছেন। সেখান শুটিং করছেন শাকিব খান, বুবলী, অমিত হাসানসহ অনেকে। মুঠোফোনে এদিন দুপুরে চ্যানেল আই অনলাইনকে এসব কথা জানিয়ে ‘এই ঘর এই সংসার’, ‘হিরা চুনি পান্না’, ‘উল্টা পাল্টা’, ‘ফুল অ্যান্ড ফাইনাল’ ছবির এই পরিচালক বলেন: বুধবার সকাল ১০ টায় শুটিং শেষ করি। শাকিব ২৪ ঘণ্টা টানা কাজ করেছে, আর বুবলী ২৭ ঘণ্টা।</p>
                <div class="mbr-section-btn align-center">
                    <a target="_blank" class="btn btn-md btn-white-outline display-4" href="https://bit.ly/2HjW8XU">FREE DOWNLOAD</a></div>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>